<div id="start_content">
    <h3 id="toc_blender">Adding materials</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to add and remove materials</li>
        <li>How to do basic modifications to a material</li>
        <li>How to see a preview of your materials</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-basic-video-component videoname="adding_materials.mp4"></app-basic-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="Can an object have multiple materials applied to it?" 
        correctAnswer="Yes" [answers]="['No','Depends on the object',
        'Yes']" qId="ID1"></app-quiz-component>
  </div>
</div>