<div id="start_content">
    <h3 id="toc_blender">Using curves</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to model using bezier curves</li>
        <li>How to shape a curve</li>
        <li>How to use objects, modifiers and curves together</li>
        <li>What effects can be caused by not applying the scale or rotation</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="using_curves.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="My object does not fit my curve. What should I do?" 
        correctAnswer="Check my objects properties. I might have missed to apply rotation or scale." [answers]="['Restart Blender. Restart always helps.','Update to a newer version of Blender. This must be a bug.',
        'Check my objects properties. I might have missed to apply rotation or scale.']" qId="ID1"></app-quiz-component>
  </div>
</div>