<div id="start_content">
    <h3 id="toc_blender">Taking first steps in the viewport</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>What the startup Blender scene consists of</li>
        <li>How to navigate around the viewport</li>
        <li>How to delete and insert objects into the scene</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-basic-video-component videoname="first_steps.mp4"></app-basic-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="At what position will objects you add in be created?" 
        correctAnswer="At the 3D cursor" [answers]="['At the current mouse cursor position','At the 3D cursor',
        'At a random position within space and time']" qId="ID1"></app-quiz-component>
    </div>

    <!-- 
      delete with x? 2:38
    where will objects spawn?
    shift a? 3:59
     -->

</div>