<div id="start_content">
    <h3 id="toc_blender">Adding the stairs for our cabin</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How repair a broken mesh</li>
        <li>How to fill in holes</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="adding_stairs_front.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="What is the shortcut for filling a face between selected edges or vertices?" 
        correctAnswer="F" [answers]="['F','Shift+F',
        'Alt+F']" qId="ID1"></app-quiz-component>
  </div>
</div>