<div id="start_content">
    <h3 id="toc_blender">Importing into Blender</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to import an object into Blender</li>
        <li>What different import options mean</li>
      </ul>
    </div>
    <div class="ui info message download">
      <h5>Check this link for download of the resources: <a href="./assets/files/animationAssets_import.zip" target="_blank" download="animationAssets.zip">here</a></h5>
    </div>
    <div class="vdiv">
      <app-basic-video-component videoname="importing_objects.mp4"></app-basic-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="You are working in a team with multiple members. One of them is working on an object you need in your scene and does regular updates. How would you import it?" 
        correctAnswer="I import it using link. This way it is easily updated." [answers]="['I cannot. I have to model it myself.','I import it using link. This way it is easily updated.',
        'I import it using append. This way I receive all the updates.']" qId="ID1"></app-quiz-component>
  </div>
</div>