<h2 id="headline">Required Tools</h2>
<div id="start_content">
    <h3 id="rt1">Blender</h3>
    <p>Before we start our journey to learn the foundations of modelling you will need exactly one thing: Blender</p>
    <p>You can simply grab you version of Blender on the <a href="https://www.blender.org/download/lts/" target="_blank">official Blender website</a>.
        For all of the content created during this E-Learning Blender Version 2.8.3 was used. Version 2.8.3 is a long-term support version which ensures
        that the version is stable and only critical fixes are getting integrated. You may also be able to follow along with a newer version of Blender, e.g. 2.9,
        but be prepared for:
    </p>
        <ul>
            <li>Differences in the UI</li>
            <li>Different functionality (added features, moved to other menus, etc.)</li>
            <li>Bugs, Crashes, ...</li>
        </ul>
    <p>
        Furthermore you have the choice between a installer for your operating system and a portable .zip file containing everthing needed to run Blender without installation.
        Feel free to pick whatever you prefer, there is not difference between them.
    </p>
    <h3 id="rt2">Why do we use Blender</h3>
    <p>Blender is a powerful and complex tool we decided to use here because it's main advantage over competitors: It's free!</p>
    <p>However Blender is not limited in any way because of it's price tag. Blender can perform all the steps needed during the entire 3D pipeline.
        Also since it is open-source there are a lot of free (and of course also paid) addons you can integrate to speed up your process or interact with other
        tools that could possibly make use of Blender like EpicGames famous UnrealEngine 4. 
    </p>
    <h3 id="rt3">Grab your cheat sheet!</h3>
    <p>If you have little to no experience using Blender the beginning can be quite overwhelming. There are loads of different functions
        and a fluid workflow requires to use shortcuts to call those. While there are different options to download a cheat sheet containing
        the most important shortcuts online, I created a reduced version with the most important ones that will be used during this introduction to
        modelling with Blender. Feel free to download it <a href="./assets/files/Blender-Cheat-Sheet.pdf" target="_blank" download="cheat_sheet.pdf">here</a>!
    </p>
</div>
