<div id="start_content">
    <h3 id="toc_blender">Adding ladders</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to start adding some details to your object</li>
        <li>How to use Edge Slide</li>
        <li>What the effect of adding objects in edit mode is</li>
        <li>What the subdivision surface modifier is and does</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="adding_details_01.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="What is the main reason you want to add objects in edit mode" 
        correctAnswer="There is no need to join later" [answers]="['There is no need to join later','To save time',
        'To optimize the mesh']" qId="ID1"></app-quiz-component>
  </div>
</div>