<div id="start_content">
    <h3 id="toc_blender">Conclusion</h3>
    <p>You have now completed a few different sections learning about the basics you need to get started in Blender. You can now make 
        first scenes and create some complex models. But this little tutorial was only meant as an introduction. There is a lot more
        you can explore to really push your Blender skills. What you should do next really depends on what your goals are. Let me give
        you some suggestions on what you could follow up.
    </p>
    <h3>Increase your modelling repertoire</h3>
    <p>What we did is we touched the surface on what is possible with Blender. We learned a simple way to create bigger models by 
        box modelling our objects. But there is other techniques you could use as an alternative or even together to achieve more stunning
        results. In the following I will introduce a few techniques you could follow up on.
    </p>
    <h4>Metaballs</h4>
    <figure class="center">
        <img src="./assets/images/metaballs.PNG" alt="Image of Metaballs">
        <figcaption>
            Some basic Metaballs
        </figcaption>
    </figure>
    <p>
        Metaballs are a different approach to creating an object. Instead of adding objects and then modifying their mesh like we did 
        with the fire truck, here you insert primitives like cubes or spheres, like you can see above. Those so called Metaballs then 
        depending on their distance to each other build a connection. Metaballs incluence each other and are especially usefull for 
        modelling more organic models. The image above I created using a sphere, a cube and four different capsules. This can be seen 
        as a rough outline for a human body for example. As you can see, when placed correctly they build up nice connections. You can 
        also use negative Metaballs, e.g. to cut in holes for eyes.
    </p>
    <h4>Sculpting</h4>
    <figure class="center">
        <img src="./assets/images/sculpting.PNG" alt="Image of Sculpting">
        <figcaption>
            Sculpting workspace in Blender
        </figcaption>
    </figure>
    <p>
        In the image above you can see the sculting workspace of Blender. Sculting is an alternative way to model your object. There is 
        a set of different tools available you can think of as similar to pencils. You can then simply draw on your object to modify the 
        underlying mesh data. For the image above I started with a simple sphere but then added some details by drawing onto the mesh. 
        The technique of sculpting is especially usefull when dealing with high poly models where you want to add in some extra details, 
        for example when modelling a human face or in general human bodies or animals. This can also be combined with Metaballs pretty 
        effectively. You could first lay out the basic structure using Metaballs, then convert them to a mesh and start shaping them with 
        the sculpt tools.
    </p>
    <h4>Scripting</h4>
    <p>
        Another advanced topic to look into would be scirpting. Blender comes with built in support for Python scripts. This is also 
        the way how addons can be implemented that extend Blender, e.g. the one I used in my videos to display the keystrokes in the 
        bottom left corner. With scripting you can basically achieve everything you can do with the UI as well. You can edit any part 
        of the model in an automated manner, modify your Blender setting or create completely new tools that may help you or others 
        to do their tasks more effectively.
    </p>
    <h4>Videogame assets</h4>
    <p>
        If you want to create assets for your own video game you have to take a look at some advanced techniques that help you optimize 
        your object, e.g. by reducing the poly count. The workflow is also slightly different when creating such objects. You might 
        want to take a more detailed look into the topic of unwrapping to learn how to unwrap more effectively by marking correct seems 
        to make it easier to place parts of your model in a texture.
    </p>
    <p>
        Another thing you could take a look into is the process of retopology. Retopology is needed to reduce the poly count when going 
        from a very high poly model to one that could potentially be used in a video game engine. While there are some automatic tools 
        built into Blender to assist you, e.g. a modifier to reduce the count for a vertex group (a part of your model), you can also 
        have a look at manual retopology that can for example be used when designing a character.
    </p>
    <p>
        The last thing I suggest you to take a look at is whats called baking. Baking is a process mainly used for textures. When baking 
        textures you can for example reduce the details from a high poly model, i.e. the details that were previously modelled as polygons 
        for example a scar added by sculting, are now baked onto a texture that could be applied to a low poly model to achieve a very 
        similar effect by drastically reducing poly count. baking requires you to be familiar with UV maps.
    </p>
    <h3>Go the artistic way</h3>
    <p>
        You could also go more into a artistic direction by teaching yourself some skills in refining your model. This could not be part 
        of this E-Learning for time reasons, but if you are really looking for nice assets probably nothing is more important than 
        beautiful textures.
    </p>
    <h4>Create stunning Materials</h4>
    <p>
        Find some tutorials online to learn how the differnt nodes on materials really work together and how you can use them to create 
        stunning materials that can be used in visually appealing scenes. You can also learn how to create procedural materials in Blender. 
        Think about what you want to display and step by step learn how to do specific textures, e.g. for creating fabric materials. You 
        can also have a look at Substance Painter which is often used in combination with Blender and can be easily integrated into the 
        workflow.
    </p>
    <h4>Animate humans</h4>
    <p>
        If you want to step up your game and create some smooth animations try it with a human. There are several standard animation that 
        are typically used in movies or video games. Model yourself a human like character or grab one from MakeHuman, a program that lets 
        you easily create humans and import them into Blender ready for animation. There is even a plugin for direct integration into Blender. You could for 
        example start by creating a smooth walk cycle. I would recommend you to start of simple and slowly aim for more complex animations.
    </p>
    <h3>Do what you want</h3>
    <p>
        Try new things. Anything new you do will bring you some progress in using Blender. Thank you for completing this E-Learning. 
        I really hope you learned something by completing this E-Learning. Check out the references below to follow up on the topics 
        I just mentioned.
    </p>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/2.83/modeling/metas/index.html" target="_blank">More on Metaballs</a></li>
          <li><a href="https://docs.blender.org/manual/en/2.83/sculpt_paint/sculpting/index.html" target="_blank">More on Sculpting</a></li>
          <li><a href="https://docs.blender.org/manual/en/latest/advanced/scripting/introduction.html" target="_blank">More on Scripting</a></li>
          <li><a href="https://docs.blender.org/api/current/info_quickstart.html" target="_blank">Scripting Quick Start</a></li>
          <li><a href="https://docs.blender.org/manual/en/2.79/editors/uv_image/uv/editing/unwrapping/index.html" target="_blank">More on Unwrapping</a></li>
          <li><a href="https://docs.blender.org/manual/en/latest/modeling/meshes/retopology.html" target="_blank">More on Retopology</a></li>
          <li><a href="https://docs.blender.org/manual/en/2.83/render/cycles/baking.html" target="_blank">More on Baking</a></li>
          <li><a href="https://oldetinkererstudio.com/materials-and-textures-blender-2-8-tutorial-cycles/" target="_blank">More on Materials</a></li>
          <li><a href="https://www.substance3d.com/substance/" target="_blank">More on Substance Painter</a></li>
          <li><a href="http://www.makehumancommunity.org/" target="_blank">More on MakeHuman</a></li>
        </ul>
    </div>
</div>