<div id="start_content">
    <h3 id="toc_blender">Rigging our robot</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>The different properties of an armature</li>
        <li>How to add bones to your object to create a rig</li>
        <li>How to connect distinct bones</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="creating_rig.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="For some reason one leg is left behind when moving the main bone. What can be wrong here?" 
        correctAnswer="The bones were not parented correctly" [answers]="['The bones were not parented correctly','Scale is not applied',
        'I have to move each bone individually']" qId="ID1"></app-quiz-component>
  </div>
</div>