<h2 id="headline">Vase and Plant</h2>
<div id="start_content">
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>What Proportional Editing is and how tu use it</li>
        <li>How to use the screw modifier in a complex model</li>
        <li>How to combine the screw and array modifier to create complex shapes</li>
        <li>How to use the subdivision surface modifier and what it does</li>
      </ul>
    </div>
    <div class="ui warning message">
      <ul>
        <li>Idea and execution of the plant model adapted from: <a href="https://www.youtube.com/watch?v=JoW1XWi4Lw0" target="_blank">Blender 2.8 modular plant creation with modifiers</a></li>
      </ul>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="Video_8_Plant.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="You add in a mirror modifier but nothing seems to happen. What is a possible root cause?" 
        correctAnswer="The object is mirrored along a symmetry axis" [answers]="['The object is mirrored along a symmetry axis','Modifiers must be applied before we can see them',
        'Modifiers are only visible in rendered images']" qId="ID1"></app-quiz-component>
  </div>
</div>