<div id="start_content">
    <h3 id="toc_blender">What is the animation chapter about?</h3>
    <p>
        Now that you have a basic understanding on how to model more complex objects, there is one thing left to bring your objects to 
        life. Often you will want to add in some animation to create less static scenes. In this chapter we will focus on exactly that. 
        I will introduce you to a basic workflow that can not only be applied to characters like humans or animals called rigging. We 
        will create a little animation for a small rocket to avoid getting hit by a rocket. In this process you will learn more about 
        how different parts in the animation play together and how to set up a smooth animation.
    </p>
    <figure class="center">
        <img src="./assets/images/robo.PNG" alt="Picture of Robot and rocket">
        <figcaption id="uncentered_cap">
            The robo and rocket that will be animated
        </figcaption>
    </figure>
    <p>
        The approach of this chapter is a little bit different to the one from the modelling chapter. Since it will anyway be almost 
        impossible to follow along and repeat the exact same steps I did, I encourage you to explore this chapter a little bit on your 
        own. The first few lections are optional. I am creating the robot and rocket you see in the picture from scratch. Feel free to skip
        those and download the resources attached to the chapter "Import objects into Blender" or go ahead and practice your modelling 
        skills by creating your own. After that create your own little animation following the process I did. Maybe in your animation the 
        robot will get hit by the rocket, just be creative.
    </p>
</div>