<h2 id="headline">Animation chapter overview</h2>
<div id="start_content">
    <p>
        Now that you have a basic understanding on how to model more complex objects, there is one thing left to bring your objects to 
        life. Often you will want to add in some animation to create less static scenes. In this chapter we will focus on exactly that. 
        I will introduce you to a basic workflow that can not only be applied to characters like humans or animals called rigging. We 
        will create a little animation for the robot to drive around the scene. In this process you will learn more about 
        how different parts in the animation play together and how to set up a smooth animation.
    </p>
    <div>
        <video class="overview" autoplay controls width="60%">
            <source src="./assets/videos/render-wall-e-animation.mkv" type="video/mkv">
            <source src="./assets/videos/render-wall-e-animation.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <p>
        The approach of this chapter is a little bit different to the one from the modelling chapter. Since it will anyway be almost 
        impossible to follow along and repeat the exact same steps I did, I encourage you to explore this chapter a little bit on your 
        own. After that create your own little animation following the process I did. Maybe in your animation the 
        robot will bring the vase with the plant to fall over, just be creative.
    </p>
</div>