<div>
  <button type="button" id="menu_button" (click)="myFunc()">
    <img src="./assets/images/menu_icon.png" alt="menu" id="menu_icon">
  </button> 
  <h1 class="ui header" style="text-align:center; margin-top: 30px; margin-bottom: 50px; ">
    {{ title }}
  </h1>
  <div class="ui grid container" style="min-width:85%;">
    <div class="one wide column">
      <div class="ui left fixed vertical menu" id="menu" style="max-width:25%; overflow: auto;">
        <a class="item" id="menu_item">
          <button type="button" id="menu_button" (click)="myFunc()">
              <img src="./assets/images/menu_icon.png" alt="menu" id="menu_icon">
          </button>
        </a>
        <a class="item" routerLink="/home" routerLinkActive="active">
          Home
        </a>
        <div class="item">
          <h4>Setup</h4>
          <a class="item" routerLink="/required-tools" routerLinkActive="active">
            Required Tools
          </a>
          <a class="item" routerLink="/about-elearning" routerLinkActive="active">
            About this E-Learning
          </a>
        </div>
        <div class="item">
          <h4>Part 1: Introduction to Blender</h4>
          <a class="item" routerLink="/first-startup" routerLinkActive="active">
            Your first startup of Blender
          </a>
          <a class="item" routerLink="/blender-ui" routerLinkActive="active">
            Blenders UI
          </a>
          <a class="item" routerLink="/viewport" routerLinkActive="active">
            First steps in the 3D Viewport
          </a>
          <a class="item" routerLink="/t-coordinate-system" routerLinkActive="active">
            Theory: Coordinate systems
          </a>
          <a class="item" routerLink="/edit-mode" routerLinkActive="active">
            Introduction to Edit Mode
          </a>
          <a class="item" routerLink="/first-scene" routerLinkActive="active">
            Building your first scene
          </a>
        </div>
        <div class="item">
          <h4>Part 2: Modelling</h4>
          <a class="item" routerLink="/modelling-chapter-overview" routerLinkActive="active">
            Modelling chapter overview
          </a>
          <a class="item" routerLink="/adding-reference-material" routerLinkActive="active">
            Adding reference material
          </a>
          <a class="item" routerLink="/blocking-out" routerLinkActive="active">
            Blocking out our model
          </a>
          <a class="item" routerLink="/shaping-up-one" routerLinkActive="active">
            Adding some shape: part 1
          </a>
          <a class="item" routerLink="/shaping-up-two" routerLinkActive="active">
            Adding some shape: part 2
          </a>
          <a class="item" routerLink="/t-modifiers" routerLinkActive="active">
            Theory: Modifiers
          </a>
          <a class="item" routerLink="/adding-wheels" routerLinkActive="active">
            Adding the wheels
          </a>
          <a class="item" routerLink="/t-mat-tex" routerLinkActive="active">
            Theory: Materials and Textures
          </a>
          <a class="item" routerLink="/adding-materials" routerLinkActive="active">
            Working with materials
          </a>
          <a class="item" routerLink="/adding-black-parts" routerLinkActive="active">
            Filling gaps in our model
          </a>
          <a class="item" routerLink="/cutting-doors" routerLinkActive="active">
            Using the Boolean modifier to create doors
          </a>
          <a class="item" routerLink="/adding-details" routerLinkActive="active">
            Adding some details
          </a>
          <a class="item" routerLink="/adding-ladders" routerLinkActive="active">
            Add ladders using the Array modifier
          </a>
          <a class="item" routerLink="/t-curves" routerLinkActive="active">
            Theory: Curves
          </a>
          <a class="item" routerLink="/using-curves" routerLinkActive="active">
            Using curves for modelling
          </a>
          <a class="item" routerLink="/adding-textures" routerLinkActive="active">
            Working with textures: The basics
          </a>
          <a class="item" routerLink="/adding-extinguisher" routerLinkActive="active">
            Adding fire extiguishers to our model
          </a>
          <a class="item" routerLink="/adding-windows" routerLinkActive="active">
            Windows for our doors
          </a>
          <a class="item" routerLink="/adding-stairs-front" routerLinkActive="active">
            Stairs for our cabin
          </a>
          <a class="item" routerLink="/adding-lights" routerLinkActive="active">
            Modelling the lights
          </a>
          <a class="item" routerLink="/adding-top-light" routerLinkActive="active">
            Modelling the top light
          </a>
          <a class="item" routerLink="/finishing-model" routerLinkActive="active">
            Finish up your model
          </a>
          <a class="item" routerLink="/rendering" routerLinkActive="active">
            Rendering in Blender
          </a>
        </div>
        <div class="item">
          <h4>Part 3: Animation</h4>
          <a class="item" routerLink="/animation-chapter-overview" routerLinkActive="active">
            Animation chapter overview
          </a>
          <a class="item" routerLink="/creating-robot-part-one" routerLinkActive="active">
            (Optional) Creating the robot: part 1
          </a>
          <a class="item" routerLink="/creating-robot-part-two" routerLinkActive="active">
            (Optional) Creating the robot: part 2
          </a>
          <a class="item" routerLink="/creating-rocket" routerLinkActive="active">
            (Optional) Creating the rocket
          </a>
          <a class="item" routerLink="/finish-robot" routerLinkActive="active">
            (Optional) Finishing our robot
          </a>
          <a class="item" routerLink="/importing-objects" routerLinkActive="active">
            Import objects into Blender
          </a>
          <a class="item" routerLink="/t-rigging" routerLinkActive="active">
            Theory: Rigging
          </a>
          <a class="item" routerLink="/creating-rig" routerLinkActive="active">
            Rigging our character
          </a>
          <a class="item" routerLink="/parenting-rig" routerLinkActive="active">
            Parenting our character
          </a>
          <a class="item" routerLink="/restricting-bones" routerLinkActive="active">
            Restricting out bones movement
          </a>
          <a class="item" routerLink="/setup-scene" routerLinkActive="active">
            Setting our scene
          </a>
          <a class="item" routerLink="/animate-robot" routerLinkActive="active">
            Animating our robot
          </a>
          <a class="item" routerLink="/animate-rocket" routerLinkActive="active">
            Animating our rocket
          </a>
          <a class="item" routerLink="/animate-rotator" routerLinkActive="active">
            Finishing our animation
          </a>
        </div>
        <div class="item">
          <h4>Conclusion</h4>
          <a class="item" routerLink="/conclusion" routerLinkActive="active">
            Where to go from here?
          </a>
        </div>
      </div>
    </div>
    <div class="fifteen wide column">
      <router-outlet (activate)="onActivate()"></router-outlet>
      <div style="text-align:center; margin: 50px;">
        <button class="ui button primary" [routerLink]="getLast()" *ngIf="!getHideBackButton()">Back</button>
        <button class="ui button primary" [routerLink]="getNext()" *ngIf="!getHideNextButton()">Next</button>
      </div>
      <app-about></app-about>
    </div>
  </div>

</div>