<div>
  <button type="button" id="menu_button" (click)="myFunc()">
    <img src="./assets/images/menu_icon.png" alt="menu" id="menu_icon">
  </button> 
  <h1 class="ui header" style="text-align:center; margin-top: 30px; margin-bottom: 50px; ">
    {{ title }}
  </h1>
  <div class="ui grid container" style="min-width:85%;">
    <div class="one wide column">
      <div class="ui left fixed vertical menu" id="menu" style="max-width:25%; overflow: auto;">
        <a class="item" id="menu_item">
          <button type="button" id="menu_button" (click)="myFunc()">
              <img src="./assets/images/menu_icon.png" alt="menu" id="menu_icon">
          </button>
        </a>
        <a class="item" routerLink="/welcome" routerLinkActive="active">
          Welcome
        </a>
        <div class="item">
          <h4>Setup</h4>
          <a class="item" routerLink="/required-tools" routerLinkActive="active">
            Required Tools
          </a>
          <a class="item" routerLink="/about-elearning" routerLinkActive="active">
            About this E-Learning
          </a>
        </div>
        <div class="item">
          <h4>Part 1: Introduction to Blender</h4>
          <a class="item" routerLink="/blender-ui" routerLinkActive="active">
            UI Overview
          </a>
          <a class="item" routerLink="/theory-coordinate-system" routerLinkActive="active">
            Theory: Coordinate systems
          </a>
          <a class="item" routerLink="/basic-tools" routerLinkActive="active">
            Basic Tools
          </a>
          <a class="item" routerLink="/theory-modifiers" routerLinkActive="active">
            Theory: Modifiers
          </a>
          <a class="item" routerLink="/theory-curves" routerLinkActive="active">
            Theory: Curves
          </a>
          <a class="item" routerLink="/basic-modifiers" routerLinkActive="active">
            Basic Modifiers
          </a>
        </div>
        <div class="item">
          <h4>Part 2: Modelling</h4>
          <a class="item" routerLink="/modelling-chapter-overview" routerLinkActive="active">
            Modelling chapter overview
          </a>
          <a class="item" routerLink="/model-body" routerLinkActive="active">
            Wall-E Body
          </a>
          <a class="item" routerLink="/model-wheels" routerLinkActive="active">
            Wall-E Wheels
          </a>
          <a class="item" routerLink="/model-head" routerLinkActive="active">
            Wall-E Head
          </a>
          <a class="item" routerLink="/model-arms" routerLinkActive="active">
            Wall-E Arms
          </a>
          <a class="item" routerLink="/model-plant" routerLinkActive="active">
            Vase and Plant
          </a>
          
        </div>
        <div class="item">
          <h4>Part 3: Coloring and Rendering</h4>
          <a class="item" routerLink="/theory-mat-tex" routerLinkActive="active">
            Theory: Materials and Textures
          </a>
          <a class="item" routerLink="/coloring-and-rendering" routerLinkActive="active">
            Coloring and Rendering
          </a>
        </div>
        <div class="item">
          <h4>Part 4: Rigging and Animation</h4>
          <a class="item" routerLink="/animation-chapter-overview" routerLinkActive="active">
            Animation chapter overview
          </a>
          <a class="item" routerLink="/theory-rigging" routerLinkActive="active">
            Theory: Rigging
          </a>
          <a class="item" routerLink="/rigging-and-animation" routerLinkActive="active">
            Rigging and Animation
          </a>
        </div>
        <div class="item">
          <h4>Conclusion</h4>
          <a class="item" routerLink="/conclusion" routerLinkActive="active">
            Where to go from here?
          </a>
        </div>
      </div>
    </div>
    <div class="fifteen wide column">
      <router-outlet (activate)="onActivate()"></router-outlet>
      <div style="text-align:center; margin: 50px;">
        <button class="ui button primary" [routerLink]="getLast()" *ngIf="!getHideBackButton()">Back</button>
        <button class="ui button primary" [routerLink]="getNext()" *ngIf="!getHideNextButton()">Next</button>
      </div>
      <app-about></app-about>
    </div>
  </div>

</div>