<div id="start_content">
    <h3 id="toc_blender">Coloring and Rendering</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to use the shading workspace to detail the coloring of your objects</li>
        <li>How to insert textures and use them</li>
        <li>How to setup a scene by using a camera</li>
        <li>How to play with lights</li>
        <li>How to render an image</li>
      </ul>
    </div>
    <div class="ui info message download">
      <h5>Please grab the material needed for this section <a href="./assets/images/metal_texture.png" target="_blank" download="metal.png">here</a></h5>
    </div>
    <div class="vdiv">
        <app-basic-video-component videoname="rendering.mp4"></app-basic-video-component>
      </div>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://cgcookie.com/articles/blender-cycles-vs-eevee-15-limitations-of-real-time-rendering" target="_blank">Limitations of real-time rendering</a></li>
        </ul>
    </div>
</div>