<div id="start_content">
    <h3 id="toc_blender">Adding reference material</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to import reference material into your scene</li>
        <li>How to switch the view to different sides</li>
        <li>What orthographic view means</li>
      </ul>
    </div>
    <div class="ui info message download">
      <h5>Please grab the material needed for this section <a href="./assets/files/reference_material.zip" target="_blank" download="reference_materials.zip">here</a></h5>
      <p class="source">Source of the images: https://images.app.goo.gl/68KsuVptpeRXEzcB6</p>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="ft_adding_reference_material.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="For some reason you cannot see your reference material when you rotate around your object. What can be the cause?" 
        correctAnswer="The image was added as background" [answers]="['The image was not added as background','The image was added as background',
        'The files is missing on your computer']" qId="ID1"></app-quiz-component>
  </div>
</div>