<h2 id="headline">Basic Modifiers</h2>
<div id="start_content">
    <div class="ui info message">
        <h5>In this section you will learn:</h5>
        <ul>
          <li>What modifiers are</li>
          <li>How to use the following modifiers: Array, Boolean, Mirror, Screw, Curve</li>
        </ul>
      </div>
    <div class="vdiv">
        <app-xml-video-component videoname="Video_3_Modifiers.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
        <app-quiz-component question="What is the main purpose of the edit mode?" 
          correctAnswer="To modify an objects mesh data" [answers]="['To edit the color of objects','To modify an objects mesh data',
          'To animate an object']" qId="ID1"></app-quiz-component>
    </div>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/latest/editors/3dview/modes.html" target="_blank">Additional documentation on object modes</a></li>
        </ul>
    </div>
</div>