<div id="start_content">
    <h3 id="toc_blender">The Edit Mode</h3>
    <div class="ui info message">
        <h5>In this section you will learn:</h5>
        <ul>
          <li>What the edit mode is</li>
          <li>How edit mode can be used</li>
          <li>The difference between operations in object and edit mode</li>
        </ul>
      </div>
    <div class="vdiv">
        <app-xml-video-component videoname="edit_mode.mp4"></app-xml-video-component>
    </div>
    <div class="quiz">
        <app-quiz-component question="What is the main purpose of the edit mode?" 
          correctAnswer="To modify an objects mesh data" [answers]="['To edit the color of objects','To modify an objects mesh data',
          'To animate an object']" qId="ID1"></app-quiz-component>
    </div>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/latest/editors/3dview/modes.html" target="_blank">Additional documentation on object modes</a></li>
        </ul>
    </div>
</div>