<div id="start_content">
    <h3 id="toc_blender">Modelling chapter overview</h3>
    <p>
        While the first chapter was all about exploring Blender and playing around with it, in this chapter we will focus on one 
        complex model to add a set of new skills and techniques to work on bigger models. For this purpose I picked a firetruck 
        that will be modelled over several lections. Using some reference material I will show you all the steps to go from a simple 
        blocked out model to a more detailed one. We will be learning about what modifiers are and how they can help us to achieve 
        complex tasks relatively easy. As the chapter progresses you will also learn more about the inner structure of models and how 
        they are build up. Furthermore we will also talk about the basics of adding in materials and textures and how they can help us 
        to make our model more realistic. Below you can see a image of the firetruck we are building during this chapter.
    </p>
    <figure class="center">
        <img src="./assets/images/firetruck.png" alt="Picture of Firetruck">
        <figcaption>
            The firetruck we will be modelling
        </figcaption>
    </figure>
    <p>
        This chapter is meant to be more of a follow along session. In the different chapters I will show you the different steps I took 
        starting from scratch to build the model you see in this image. At the top of each chapter you will find a brief description 
        of what you can expect to see in the video. At any time during this section feel free to spend some more time on the model. Reflect 
        what I just showed and think about other ways of achieving what was done in the video. Add in some more details or shape. In 
        general the model is kept as simple as possible to reduce the video time.
    </p>
</div>