<div id="start_content">
    <h3 id="ae1">Important notes up front</h3>
    <p>Blender has a steep learning curve. While you can expect to achieve first results relatively quickly it will take a lot of practice
        to achieve visually appealing results. You will do lots of errors during your first steps and often see yourself restarting a model from
        scratch. This should however not discourage you. Every start is difficult especiall when dealing with a complex programm like Blender.
    </p>
    <h3>What will you achieve by following this E-Learning?</h3>
    <p>By following this E-Learning you will get a solid understanding of the overall task of modelling and animating simple 3D models.
        Maybe you already took a look at the outline to see what's coming up. The E-Learning consists of 3 main chapters to guide you
        through most parts of a modern 3D production pipeline. With the example of Blender you will learn about the layout of scenes, 
        the modelling task itself, rigging and animation.
    </p>
    <p>
        In the modelling part of this E-Learning you will create a firetruck with all kinds of different details which will teach you the 
        foundation you need to create small and large scale 3D models on your own. The animation part of this E-Learning will give you guidance
        on how to bring a small robot to live by animating it.
    </p>
    <h3>What this E-Learning will not cover</h3>
    <p>This E-Learning serves as an introduction into the topic. This also means that there are several aspects that can not be covered
        within the demonstrated lectures. To answer a question many of you will have: No, you will not be able to create high class
        3D models that can (or maybe rather should) be used in video game engines. To get production ready assets for video games a lot of
        advanced topics need to be covered that are not in the scope of this E-Learning. This includes:
    </p>
    <ul>
        <li>UV Unwrapping</li>
        <li>Detailed texturing</li>
        <li>Game ready rigs</li>
        <li>Conversion of high poly models into low poly ones</li>
    </ul>
    <p>
        However I will give you guidance in appropriate places on where to follow up if you are interested in these topics. If you have no experience
        in 3D modelling and you don't even understand what all this stuff above is about, no problem! This E-Learning will teach you all the foundations
        you need.
    </p>
    <h3>How can I get the most out of this E-Learning?</h3>
    <p>During this E-Learning I will be demonstrating different techniques you can use to get into using Blender. This is however not the only
        way to do certains things. Often you will find yourself wondering if your way of doing it is also fine, you may even find a way that you find
        a lot easier compared to what I am doing and this is absolutely fine! There are always alternative solutions and where I am able to I will
        also guide you to them or even demonstrate them.
    </p>
    <p>
        There are also a couple of theory lessons. You should give them a chance even if they are not as appealing to you and you just want to continue
        working on your model. The theory lessons will give you background knowledge you will need to understand why certain things work and others don't.
        They are also not related to Blender in specific which means you can also apply them when working with other 3D programms.
    </p>
    <p>
        Using the following visual clue I will guide you to additional resources which  are mentioned during the videos or provide additional information you
        might find useful in order to learn more:
    </p>
    <p class="ui info message">This will guide you to additional resources:<br>
        <a href="https://www.blender.org/about/" target="_blank">
          <strong>Find out more about Blender!</strong>
        </a><br>
    </p>
    <p>
        I will also give some visual clue about crucial things I need to stress. This will look like this:
    </p>
    <p class="ui red message">You must not quit this E-Learning before you finished it!</p>
    <h3>Key components of this E-Learning</h3>
    <p>An important part of this E-Learning are videos. To make it easier to follow along the provided videos I will always display the shortcuts used in two places:</p>
    <ul>
        <li>Within the videos in the bottom left corner</li>
        <li>In an additional table below the video which will be updated along the video</li>
    </ul>
    <p>
        Additionally there sometimes are small control questions after chapters. These are ment to test yourself if you understand the key parts I found to be important.
        You are recommend to answer each question to make sure you remember everything important.
    </p>
</div>
