<h2 id="headline">Theory: Modifiers</h2>
<div id="start_content">
    <p>Modifiers make up an important part of modelling. We will be using some of them in future sections, in fact we start in the next 
        one. I will not be able to explain all of them at this point in time because some of them are pretty specific and will only be 
        applied on rare occasions. Furthermore each modifier also comes along with some properties that can be changed. 
        In general modifiers are part of one of four categories:</p>
    <div>
        <ul>
            <li>Modify (they modify the vertex groups of objects)</li>
            <li>Generate (they affect the topology by adding or removing geometry)</li>
            <li>Deform (change the shape of an object without changing the topology)</li>
            <li>Simulate (physical simulations)</li>
        </ul>
    </div>
    <p>
        You will often have to apply multiple modifiers together to achieve the desired result. The most important thing to remember 
        here is that the order of the modifiers matters. They should always be applied from top to bottom.
    </p>
    <div>
        <p>
            In the following lectures we will take a look at the following modifiers that already cover most of the use cases you will need:
        </p>
        <ul>
            <li>Array modifier: Generate additional geometry based on adjustable properties by repeating an object, e.g. along an axis</li>
            <li>Boolean modifier: Alter the shape of an object, e.g. by cutting holes into objects</li>
            <li>Mirror modifier: Used to add geometry by mirroring an object across a specific point like the origin</li>
            <li>Solidify modifier: Used to add thickness to a plane surface or curve</li>
            <li>Subdivision surface: Add topology to smooth out an object. Details can be found <a href="https://en.wikipedia.org/wiki/Catmull%E2%80%93Clark_subdivision_surface" target="_blank">
                here</a></li>
            <li>Curve modifier: Most often applied together with array modifier to repeat an object along a curve</li>
        </ul>
    </div>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/2.83/modeling/modifiers/introduction.html" target="_blank">Documentation</a></li>
          <li><a href="https://artisticrender.com/top-10-blender-modifiers-and-how-they-work/" target="_blank">Top 10 modifiers</a></li>
        </ul>
    </div>
</div>

