@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bold {
    font-weight: bolder;
}

.border {
    border: 3px solid black;
}

div.item a {
    display:block !important;
    width:100%;
    height:100%;
}

#headline {
    float: left;
}

#header_content {
    float: right;
}

#start_content {
    clear: both;
}

h2 {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    margin-bottom: 30px !important;
}

h3 {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}

h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

i {
    text-decoration: none !important;
}

.image {
    margin-bottom: 15px;
}

.code_listing {
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.code_listing > pre {
    flex: 1
}

.code_listing > * {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    background: #f5f2f0;

}

.code_listing i {
    padding-top: 9px;
    padding-right: 9px;
}

.blender_style {
    color: orange;
}

.keystrokeTable {
    width: 100%;
}

/*toggle stuff begins here*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* quiz stuff */
  .question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
.answers label p{
  display:inline;
  padding-left: 10px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}

/* own stuff */
.center {
  display: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.source {
  font-size: x-small;
}

#uncentered_cap {
  text-align: left;
}

#welcome_msg {
  font-size: large;
  font-weight: bold;
}

video {
  width: 100%;
}

.hidden {
  display: none !important;
}

.quiz {
  background-color: lightgray;
  padding: 10px;
}

.download {
  background-color: lightyellow !important;
}

.switch {
  margin-top: 5px;
}

/* table */
div.tableContainer {
	clear: both;
	height: 300px;
	overflow: auto;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

div.tableContainer thead tr {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

#menu_icon {
  width: 50px;
  height: 50px;
}

#menu_button {
  margin-left:0%;
  border: 0;
  background: transparent;
}

#menu_item {
  margin: 0 !important;
  padding: 0 !important;
}

/* -- Design from https://www.w3schools.com/howto/howto_js_collapsible.asp -- */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}

.hidden{
  display: none;
}