<div id="start_content">
    <h3 id="ae1">Theory: Rigging</h3>
    <p>Rigging is a type of 3D animation technique that will be used in order to animate our character in the following sections. 
        It stands next to other animation techniques like Physically based animations or Morph target animation. 
        Rigging means that a skeleton is created that controls how an object moves. 
        The most obvious application is to build up a skeleton used for human animations but it can also be used in other cases, 
        e.g. to animate the movement of trees that are moved in the wind. The skeleton itself is not visible in the final render. 
        Probably the most important part of rigging is the difference between forward and inverse kinematics that can both be used 
        in Blender. See the description below to get a basic understanding of the differences. The workflow is basically transferable 
        to other 3D programs like Maya.</p>
    <h3>Forward kinematics vs. Inverse Kinematics</h3>
    <figure class="center">
        <img src="./assets/images/kinematics.png" alt="FK vs. IK">
        <figcaption>
            FK vs. IK
            <a href="https://www.creativebloq.com/features/3d-rigging-all-you-need-to-know-to-get-started" target="_blank">
                (source)
            </a>
        </figcaption>
    </figure>
    <p>
        To explain the difference between the two approaches take a look at the image above. Image the bone chain displayed as an arm
         you want to animate. The first bone can be your upper arm, the second the lower arm and the final bone the hand. 
         Now imagine you want to animate from a straight arm to a bent arm, so basically from the first chain in the image to the 
         second one.
    </p>
    <p>
        Using forward kinematics what you would now have to do is to start with the upper arm and rotate it clockwise. After that 
        you would need to rotate the lower arm counter clockwise to bring it up again before you can finally rotate the hand counter
         clockwise to reach the final state. When using inverse kinematics instead all you would have to do is you move the hand bone
          to the desired position and rotation. The rest of its bone chain would then automatically rotate to the correct position 
          since the bones are connected.
    </p>
    <p>
        You now might wonder why you should use the obviously more work intense way of forward kinematics. The answer is that inverse
         kinematics can become unpredictable pretty fast. Imagine a big bone chain where multiple bones influence each other. If you need
          a very explicit way to set up a precise animation you might have difficulty achieving such with inverse kinematics.
    </p>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/Skeletal_animation" target="_blank">Skeletal Animation</a></li>
          <li><a href="https://www.creativebloq.com/features/3d-rigging-all-you-need-to-know-to-get-started" target="_blank">Rigging basics</a></li>
          <li><a href="https://blenderartists.org/t/whats-the-difference-between-inverse-kinematics-forward-kinematics/585349" target="_blank">FK vs. IK</a></li>
        </ul>
    </div>
</div>

