<div id="start_content">
    <h3 id="toc_blender">UI overview</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>What the settings on your first startup mean</li>
        <li>What is displayed in the different sections of the UI</li>
        <li>How to adjust the windows to your needs</li>
        <li>What the startup Blender scene consists of</li>
        <li>How to navigate around the viewport</li>
        <li>How to delete and insert objects into the scene</li>
        <li>How to create your first model</li>
        <li>What orthographic view means</li>
        <li>How to switch the view to different sides</li>
        <li>How to join objects</li>
      </ul>
    </div>
    <div class="vdiv">
      <!-- TODO: Change the video -->
      <app-basic-video-component videoname="UI_overview.mp4"></app-basic-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="In this section I mentioned a first shortcut. Can you remember how to toggle fullscreen on a specific area?" 
        correctAnswer="Ctrl + Spacebar" [answers]="['Ctrl + Spacebar','Spacebar','Alt + Spacebar']" qId="ID1"></app-quiz-component>
    </div>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/latest/" target="_blank">Official Manual for User Interface</a></li>
        </ul>
    </div>
</div>