<div id="start_content">
    <h3 id="toc_blender">Blender UI overview</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>What the key parts of Blenders UI are</li>
        <li>What is displayed in the different sections of the UI</li>
        <li>How to adjust the windows to your needs</li>
      </ul>
    </div>
    <div class="vdiv">
      <app-basic-video-component videoname="UI_overview.mp4"></app-basic-video-component>
    </div>
    <div class="quiz">
      <app-quiz-component question="In this section I mentioned a first shortcut. Can you remember how to toggle fullscreen on a specific area?" 
        correctAnswer="Ctrl + Spacebar" [answers]="['Ctrl + Spacebar','Spacebar','Alt + Spacebar']" qId="ID1"></app-quiz-component>
    </div>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/2.83/interface/index.html" target="_blank">Official Manual for User Interface</a></li>
        </ul>
    </div>
</div>