<div id="start_content">
    <p>
        In this section I will give you a little bit of a background to working with materials and textures before we start using them
        in the upcoming lectures. I will only be able to scratch the surface here since setting up complex materials is a topic worth 
        a complete own section probably the length of this complete tutorial. 
    </p>
    <h3 id="ae1">The Basics</h3>
    <figure class="center">
        <img src="../../assets/images/node_editor.PNG" alt="Node editor in Blender">
        <figcaption>
            Node editor as part of Blenders Shading Workspace
        </figcaption>
    </figure>
    <p>
        The standard way to set up materials in 3D modelling tools or also game engines is to use nodes as a way to create materials. 
        You can access them easily in Blender by using the default shading workspace. The basic functionality here is that a node 
        processes an image or texture and then passes the result on to the next node. 
        While the following description is based on Blender, most of the stuff described can also be found in every other node editor.
    </p>
    <div>
        <p>There are different node types that are typically used:</p>
        <ul>
            <li>Input Nodes like RGB nodes offering color or image nodes for texture import</li>
            <li>Processing Nodes that change value of import nodes, e.g. RGB curves like a color ramp</li>
            <li>Output Nodes like the material output to show final results</li>
        </ul>
    </div>
    <p>
        In general a material has multiple properties depending on the shader used. A shader determines the color of the material when 
        light shines. There are multiple different ones available ranging from realistic ones to toon style shaders. To achieve specific
        materials like mirrors a specific shader might be needed. The standard Principled BSDF Shader has multiple properties like a
        base color, metallic, specular or roughness
    </p>
    <p>
        You can also set up Texture nodes as Input which then again have properties on their own, e.g. the offset or color. 
        Typically you want to use textures and have different types like normal maps or roughness maps as well that make the illusion 
        that there is geometry even though there isn’t. This is especially useful if you think about optimization. If you can achieve 
        a reduction of the poly count by using a texture instead this can be useful, e.g. when modelling for video games.
    </p>
    <h3>UV Unwrapping</h3>
    <figure class="center">
        <img src="../../assets/images/unwrap_example.PNG" alt="Unwrap of a cube">
        <figcaption id="uncentered_cap">
            The standard cube UV unwrapped
        </figcaption>
    </figure>
    <p>
        To improve how your material is mapped to your object you often will need what's called UV unwrapping. Basically what this 
        process does is the following: Like the name suggests it takes an object (or multiple objects at once) and unwraps its surface. 
        What you then get is a 2D representation of the surface of an object. From this you can now exactly determine, which parts of 
        your surface sit on which part of an image texture. As already mentioned in the beginning this is a quite complex topic that 
        could very well deserve it’s own chapter. I hope you got a basic understanding of how things play together. Please check the 
        additional resources linked below if you need a deeper look.
    </p>
    <h3 id="toc_further_references">Further references</h3>
    <div class="ui warning message">
        <ul>
          <li><a href="https://docs.blender.org/manual/en/2.79/render/blender_render/materials/introduction.html" target="_blank">Doc Entry</a></li>
          <li><a href="https://blender-handbuch.de/handbuch/Kap._4_Oberflaechen_2019.pdf" target="_blank">More info on materials</a></li>
        </ul>
    </div>
</div>


