<div id="start_content">
    <p id="welcome_msg">
        Welcome to this E-Learning on Blender! This E-Learning is designed to guide you through your first steps with Blender and teach 
        you anything you need to know to get started. This includes the basic of Blender itself, a chapter about how to model objects 
        and of course how to animate them. Simply follow the lectures in the navigation 
        bar to the left. Without wasting any time get started and have fun! 
    </p>
    <figure class="center">
        <img src="./assets/images/blender_logo.png" alt="blender Logo">
        <figcaption>
            Blender Logo
            <a href="https://www.blender.org/about/logo/" target="_blank">
                (source)
            </a>
        </figcaption>
    </figure>
</div>
