<div id="start_content">
    <h3 id="toc_blender">Wall-E Wheels</h3>
    <div class="ui info message">
      <h5>In this section you will learn:</h5>
      <ul>
        <li>How to quickly detail circular shapes with Inset, Extrude and Move</li>
        <li>How to quickly create small objects (here: Legs) by using Extrude with Transformations</li>
        <li>How to move the origin point within an object with the 3D cursor</li>
        <li>How to use the curve modifier in a complex model</li>
        <li>How to use the array modifier in a complex model</li>
        <li>How to manually mirror objects by the global axis</li>
        <li>How to combine the curve and array modifier to create complex shapes</li>
      </ul>
    </div>
    <div class="comment">
      <p class="ui red message">Small spoiler: I forgot to move the upper legs of the robot to its final position. As already said in the video
        this will be fixed in a later video.
      </p>
    </div>
    <div class="vdiv">
      <app-xml-video-component videoname="blocking_out.mp4"></app-xml-video-component>
    </div>
</div>